# Database Connection URL (PostgreSQL via Neon / Supabase / local)
DATABASE_URL="postgresql://neondb_owner:npg_sample@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Application Config
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="1Fi EMI Mutual Fund Backed Store"
